html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}
#instructions {
  color: white;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -220px;
  font-family: monospace;
  filter: drop-shadow(1px 1px 1px #000000);
}
#menuPanel {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.centered {
  height: 50px;
  width: 400px;
  margin: -25px -200px;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 32px;
  color: white;
  font-family: monospace;
  user-select: none;
  filter: drop-shadow(1px 1px 1px #000000);
}
