html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
  color: #ffffff;
  font-family: monospace;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.annotationDescription {
  pointer-events: none;
  user-select: none;
  font-size: 14px;
  position: absolute;
  top: 20px;
  padding: 1em;
  width: 200px;
  background: rgba(0, 0, 0, 0.66);
  border-radius: 0.5em;
  display: block;
}

#annotationsPanel {
  position: absolute;
  top: 60px;
  left: 4px;
  width: auto;
  height: auto;
}

#annotationsPanel ul {
  padding: 0;
  list-style-type: none;
}

.annotationButton {
  width: 160px;
  height: 70px;
  background-color: rgba(0.25, 0.25, 0.25, 0.5);
  text-align: left;
  padding-left: 20px;
  cursor: pointer;
  color: #ffffff;
  font-family: monospace;
}
