html,
body,
#root {
    height: 100%;
    margin: 0;
    background: #000000;
    font-family: monospace;
    color: white;
}
#instructions {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -200px;
    filter: drop-shadow(1px 1px 1px #000000);
    user-select: none;
}