html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}

#info {
  position: absolute;
  top: 10px;
  right: 295px;
  text-align: right;
  background: #181c20;
  color: #8c92a4;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  pointer-events: none;
  font-family: var(--leva-fonts-mono);
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
}