html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}

#info {
  position: absolute;
  top: 60px;
  left: 10px;  
  background: #181c20;
  color: #8c92a4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 32px;
  pointer-events: none;
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
}