html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
  font-family: monospace;
  color: white;
}
#instructions {
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -200px;
  filter: drop-shadow(1px 1px 1px #000000);
}
#instructions a {
  color: white;
}
kbd {
  padding: 0px 2px;
  line-height: 28px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background: grey;
  font-size: 17px;
  color: white;
  font-family: monospace;
  font-style: normal;
}
